.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

/* .dialogsItems .active {
    color: gold;
} */

.messages {
    padding: 10px;
}

/* .messages .message {} */

.dialog {
    word-break: break-all;
    background: #70c6ff;
    font-style: italic;
    padding-top: 10px;
    max-width: 300px;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}