.dialog a {
    color: rgb(84, 182, 247);
    text-decoration: none;
}

.dialog a.active {
    color: rgb(14, 107, 168);
    font-weight: bold;
}

.dialog img {
    width: 50px;
    border-radius: 50%;
}

.dialog {
    margin: 15px 0;
}